a, button {
    background-color: #0076C6;
    border: none;
    color: white;
    cursor: pointer;
    font-size:14px;
    margin-left: 10px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    width: 102px;  
}

a:hover, button:hover {
    background-color: #0076F6;
    box-shadow: 0 1px 1px #888;
}

a:focus, button:focus {
    outline: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

textarea {
    background-color: #F9F9F9;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 200px;
    padding: 10px;
    width: 100%;
}

body {
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    padding-top: 40px;
}

.container {
    margin: 20px;
    width: 400px;
}

p {
    font-weight: bold;
    margin-top: 0;
}

.disabled {
    background-color: #888;
    color: #BBB;
}

.disabled:hover {
    background-color: #888;
    box-shadow: none;
    color: #BBB;
    cursor: default;
}

.button-container {
    padding: 20px 0;
    float: right;
}

li {
    padding: 0 0 20px 0;
}

select {
    margin-right: 10px;
    padding: 10px;
    width: 102px;
}

.bar {
    background-color: black;
    color: white;
    display: flex;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    width: 100%;
}

.select-container {
    padding: 20px 0;
    display: flex;
}

.select-container>div>p {
    font-size: 14px;
    margin: 5px 0;
    font-weight: 400;
}

.bar>img {
    margin: 0 20px;
}